<!DOCTYPE html>
<html>
<head>
  <title>Core</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_include_tag "samurai/application" %>
  <%= stylesheet_link_tag    "samurai/application", media: "all" %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <%= link_to 'SamuraiCRM', samurai.root_path, class: 'navbar-brand' %>
      </div>
    </div>
  </nav>
  <div class='container' role='main'>
    <div class='jumbotron'>
      <%= yield %>
    </div>
    <% flash.each do |key, value| %>
        <div class="<%= flash_class(key.to_sym) %>"><%= value %></div>
    <% end %>
  </div>
</body>
</html>

