<ul class="nav nav-pills navbar-right">
  <li role="presentation" class="<%= active(samurai.admin_path) %>">
    <%= link_to 'Dashboard', samurai.admin_path %>
  </li>
  <li role="presentation" class="<%= active(samurai.admin_users_path) %>">
    <%= link_to samurai.admin_users_path do %>
      Users
      <span class="badge"><%= Samurai::User.count %></span>
    <% end %>
  </li>
  <li role="presentation" class="<%= active(samurai.admin_tasks_path) %>">
    <%= link_to samurai.admin_tasks_path do %>
      Tasks
      <span class="badge"><%= Samurai::Tasks::Task.count %></span>
    <% end %>
  </li>
  <li role="presentation" class="<%= active(samurai.admin_contacts_path) %>">
    <%= link_to samurai.admin_contacts_path do %>
      Contacts
      <span class="badge"><%= Samurai::Contacts::Contact.count %></span>
    <% end %>
  </li>
</ul>
<div class='clearfix'></div>
